<section id="about" class="section">
	<div class="content-wrapper">
		<div class="content">
			<h2>About Me</h2>
			
			<div class="face-pic">
				<img class="face-pic-front" src="img/about/zakandaiev_oleksandr.png" title="click & hold" alt="Oleksandr Zakandaiev Photo">
				<img class="face-pic-back" src="img/about/smile.png" alt="Smile">
			</div> 

			<p>My name is Oleksandr Zakandaiev. I'm a 24 years old self taught front-end developer. Building websites is my passion with which I'd' like to connect my future. Currently I'm looking for a Junior Front-End developer position in Kyiv.</p>

			<p>I have analytical thinking, the ability to listen and quickly learn new things, establish new contacts and feel all the responsible. I am self-disciplined and an eternal optimist &#x1F642;</p>

			<p>In my free time I like to play sports (especially football and basketball), walk around the city and in parks, follow the news and new technologies, learn something new and travel all over the world...</p>

			<div class="exp-timeline">
				<div class="timeline-entry">
					<div class="timeline-left">
						<h4>2013 - 2019 (unfinished)</h4>
						<p>Warsaw University of Technology, Faculty of Management</p>
					</div>
					<div class="timeline-right">
						<h4>Bachelor degree</h4>
						<p>Field of study - Production engineering
						<br>Specialty - Business informatics</p>
					</div>
				</div>
				<div class="timeline-entry">
					<div class="timeline-left">
						<h4>2017 - Present</h4>
					</div>
					<div class="timeline-right">
						<h4>Freelancer</h4>
					</div>
				</div>
			</div>
			
			<a href="zakandaiev_resume.pdf" download class="submit-btn">Download resume</a>
		</div>
	</div>
</section>