<section id="skills" class="section">
	<div class="content-wrapper">
		<div class="content">
			<h2>Skills</h2>
			
			<div class="skills-grid">
				<div class="circle">
				  <figure>
					<i class="skill-html5"></i>
					<figcaption>HTML 5</figcaption>
				  </figure>
				</div>
				<div class="circle">
				  <figure>
					<i class="skill-css3"></i>
					<figcaption>CSS 3</figcaption>
				  </figure>
				</div>
				<div class="circle">
				  <figure>
					<i class="skill-bootstrap"></i>
					<figcaption>Bootstrap</figcaption>
				  </figure>
				</div>
				<div class="circle">
				  <figure>
					<i class="skill-materialize"></i>
					<figcaption>Materialize</figcaption>
				  </figure>
				</div>
				<div class="circle">
				  <figure>
					<i class="skill-stylus"></i>
					<figcaption>Stylus</figcaption>
				  </figure>
				</div>
				<div class="circle">
				  <figure>
					<i class="skill-sass"></i>
					<figcaption>Sass/SCSS</figcaption>
				  </figure>
				</div>
				<div class="circle">
				  <figure>
					<i class="skill-gulp"></i>
					<figcaption>Gulp</figcaption>
				  </figure>
				</div>
				<div class="circle">
				  <figure>
					<i class="skill-javascript"></i>
					<figcaption>JavaScript</figcaption>
				  </figure>
				</div>
				<div class="circle">
				  <figure>
					<i class="skill-jquery"></i>
					<figcaption>jQuery</figcaption>
				  </figure>
				</div>
				<!-- <div class="circle">
				  <figure>
					<i class="skill-php"></i>
					<figcaption>PHP</figcaption>
				  </figure>
				</div> -->
				<div class="circle">
				  <figure>
					<i class="skill-wordpress"></i>
					<figcaption>Wordpress</figcaption>
				  </figure>
				</div>
				<!-- <div class="circle">
				  <figure>
					<i class="skill-woocommerce"></i>
					<figcaption>WooCommerce</figcaption>
				  </figure>
				</div> -->
				<div class="circle">
				  <figure>
					<i class="skill-photoshop"></i>
					<figcaption>Photoshop</figcaption>
				  </figure>
				</div>
			</div>
		</div>
	</div>
</section>